/*
Theme Name: EducationPack Child
Theme URI: https://bouve.northeastern.edu/
GitHub Theme URI: https://bouve-web@bitbucket.org/bouve/educationpack-child.git
Version: 0.0.3
Description: Child of EducationPack Theme.
Author: Nathan Wallace
Author URI: https://bouve.northeastern.edu/
Template: educationpack
*/

@import url("../educationpack/style.css");

/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato|Patua+One');

p{font-family: 'Lato', sans-serif;}
h1{font-family: 'Patua One', cursive;}

/*Colors*/
.red-primary, .nu-red{
color:#cc0000;	
}


/*Main Navigation*/

/*header*/
#nd_options_navigation_2_container div{
	background:#cc0000 !important;
}

.nd_options_navigation_2 div li a{
	color:#fff;
}
.nd_options_navigation_2 div li a:hover{
	color:#fff;
	text-decoration:underline;
}
/*Scrolled menu*/

#nd_options_navigation_2_sticky_container .nd_options_navigation_2 div li a{
	color:#727475;
}


/*Visual composer tabs*/
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active>a{
    background-color:transparent;
    color: #666;
	border-bottom-color:#cc0000 !important;
	border: solid #cc0000;
	border-width: 0 0 4px 0;
}
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab>a{
	border-color: #cc0000;
    background-color: #fff;
    color: #666;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab>a{
	background-color:transparent !important;
	border-color:transparent !important;
}
.wpb-js-composer .vc_tta.vc_tta-shape-rounded .vc_tta-tab>a{
	border-radius:0px;
}
.vc_btn3.vc_btn3-color-danger.vc_btn3-style-flat:focus, .vc_btn3.vc_btn3-color-danger.vc_btn3-style-flat:hover, .vc_btn3.vc_btn3-color-danger:focus, .vc_btn3.vc_btn3-color-danger:hover{
	background-color:#cc0000 !important;
}
.vc_btn3.vc_btn3-color-juicy-pink, .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat, .vc_btn3.vc_btn3-color-.vc_btn3.vc_btn3-color-danger, .vc_btn3.vc_btn3-color-danger.vc_btn3-style-flat{
	background-color:#cc0000 !important;
}

.nd_options_padding_top_10, .nd_options_padding_botttom_10{
	padding-top:0px;
	padding-bottom:0px;
}

/*Landing Page Header*/
.accordion {
  width: 100%;
  max-width: 1480px;
  height: 450px;
  overflow: hidden;
  margin: 0px auto;
}
.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}
.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.accordion ul li div a {
  display: block;
  height: 450px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}
.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.accordion ul li div a h2 {
  font-family: Montserrat,sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 160px;
}
.accordion ul li div a p {
  top: 160px;
  font-size: 13.5px;
}
.accordion ul li{
	background-size:cover;
}
.accordion ul li:nth-child(1) {
  background-image: url("http://michael-ferry.com/assets/accordion1.jpg");
}
.accordion ul li:nth-child(2) {
  background-image: url("http://michael-ferry.com/assets/accordion2.jpg");
}
.accordion ul li:nth-child(3) {
  background-image: url("http://michael-ferry.com/assets/accordion3.jpg");
}

.accordion ul:hover li, .accordion ul:focus-within li {
  width: 8%;
}
.accordion ul li:focus {
  outline: none;
}
.accordion ul:hover li:hover,
.accordion ul li:focus, .accordion ul:focus-within li:focus {
  width: 60%;
}
.accordion ul:hover li:hover a,
.accordion ul li:focus a, .accordion ul:focus-within li:focus a {
  background: rgba(0, 0, 0, 0.4);
}
.accordion ul:hover li:hover a *,
.accordion ul li:focus a *, .accordion ul:focus-within li:focus a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.accordion ul:hover li {
  width: 8% !important;
}
.accordion ul:hover li a * {
  opacity: 0 !important;
}
.accordion ul:hover li:hover {
  width: 60% !important;
}
.accordion ul:hover li:hover a {
  background: rgba(0, 0, 0, 0.4);
}
.accordion ul:hover li:hover a * {
  opacity: 1 !important;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }

  .accordion {
    height: auto;
  }
  .accordion ul li, .accordion ul li:hover, .accordion ul:hover li, .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
}